.autocomplete {
  position: relative;
  display: inline-block;
  width: 50%;
}
input {
  border: 1px solid transparent;
  background-color: #232323;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #232323;
  width: 100%;
  color: #8A8A8A;
}
input[type=submit] {
  color: #000;
  background: aqua;
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  height: 300px;
  overflow-y: auto;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #1c1c1c;
  font-size: 16px;
  text-align: left;
}
.autocomplete-items div:hover {
 /*when hovering an item:*/
  background-color: #e9e9e9;
}
.search-items {
  background-color: #232323;
  color: #8A8A8A;
}
